* {
    box-sizing: border-box;
}

/********** visually-hidden ********/

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/********** body ********/

.body {
    font-family: "TT Lakes", serif;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    background-color: #F8F8F8;
}

/********** buttons ********/

.button {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}

.button:hover,
.logo:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.order-list__link{
    display: flex;
    align-items: center;
}

/********** header ********/

.header {
    height: 88px;
    background-color: white;
    border-bottom: 1px solid #D9FFF5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
}

.button--menu {
    background-image: url("images/icons/burger.svg");
}

.header__logo {
    margin-left: 20px;
}

.logo {
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.header__logo::before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    position: absolute;
    margin: 10px 0 10px 110px;
}

.header__interaction-list {
    margin: 0 0 0 auto;
}

.interaction-list {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.button--call {
    background-image: url("images/icons/call.svg");
}

.interaction-list__item + .interaction-list__item {
    margin-left: 16px;
}

.button--feedback {
    background-image: url("images/icons/chat.svg");
}

.button--profile {
    display: block;
    background-image: url("images/icons/profile.svg");
}

.header__order-list {
    margin: 0 0 0 auto;
}

.order-list {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.button--repair {
    display: block;
    background-image: url("images/icons/repair.svg");
}

.order-list__item + .order-list__item{
    margin-left: 16px;
}

.button__text {
    font-size: 0;
}

.button--check-status {
    display: block;
    background-image: url("images/icons/checkstatus.svg");
}

.header__interaction-list {
    display: none;
}

/********** main ********/

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__title {
    padding: 0 16px;
}

.title__text::before {
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    margin-left: -16px;
    border-radius: 0 4px 4px 0;
    position: absolute;
}

.title__text {
    display: inline-block;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    text-align: left;
    margin: 20px 0;
}

/********** nav ********/

.main__nav {
    padding: 0 16px;
}

.nav {
    overflow-x: hidden;
}

.main__nav::before {
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 16px;
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0), #F8F8F8 80%)
}

.nav__list {
    overflow-x: scroll;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.nav__item + .nav__item {
    margin-left: 8px;
}

.nav__link {
    font-family: "TT Lakes", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    display: block;
    color: #7E7E82;
    text-decoration: none;
    height: 40px;
    white-space: nowrap;
    background-color: inherit;
    padding: 8px 16px;
}

.nav__link:active, .nav__link--active {
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 4px;
    padding: 6px 14px;
}

/********** article ********/

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: +0.2px;
    text-align: left;
    height: 80px;
    padding: 0 16px;
    overflow: hidden;
}

.article__read-more {
    margin-left: 16px;
}

.read-more {
    border: none;
    background-color: inherit;
    padding: 10px 5px 10px 0;
    cursor: pointer;
}

.read-more::before {
    content: "";
    display: block;
    background-image: url(images/icons/icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 24px;
    height: 24px;
}

.read-more__text {
    font-family: TT Lakes, serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #1B1C21;
    margin-left: 24px;
}

.article__picture {
    width: 100%;
}

.article__image {
    width: 100%;
    height: auto;
    padding: 0;
}

/********** menu ********/

.menu {
    position: absolute;
    left: 0;
    width: 320px;
    min-width: 320px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: white;
    box-shadow: 10px 0 20px -10px grey;
}

.menu__header {
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin: 20px 0 20px 0;
}

.menu__logo {
    margin-left: 16px;
}

.menu__search-btn {
    margin-left: auto;
}

.button--close {
    background-image: url("images/icons/close.svg");
}

.button--search {
    background-image: url("images/icons/search.svg");
}

.menu__nav-menu {
    margin-bottom: 24px;
}

.nav-menu__link--active::before {
    content: "";
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    margin-top: 4px;
    border-radius: 0 4px 4px 0;
    position: absolute;
    left: 0;
}

.nav-menu__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.nav-menu__item {
    width: 100%;
    height: 100%;
}

.nav-menu__item + .nav-menu__item {
    margin-top: 12px;
}

.nav-menu__link {
    font-family: "TT Lakes", serif;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.2px;
    display: block;
    color: #1B1C21;
    text-decoration: none;
    vertical-align: center;
    white-space: nowrap;
    background-color: inherit;
    padding: 0 24px;
}

.nav-menu__link:hover,
.nav-menu__link--active {
    filter: opacity(0.5);
}

.menu__interaction-list {
    margin-top: auto;
    padding-left: 24px;
}

.menu__mail {
    padding-left: 24px;
    font-family: "TT Lakes", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    display: block;
    color: #1B1C21;
    text-decoration: none;
    height: 32px;
    background-color: inherit;
}

.menu__mail:hover,
.menu__tel:hover {
    filter: opacity(0.5);
}

.menu__tel {
    padding-left: 24px;
    font-family: TT Lakes, serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    text-decoration: none;
}

.menu__lang-list {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 24px;
    padding-right: 24px;
}

.menu__lang-list-item + .menu__lang-list-item {
    margin-left: 8px;
}

.menu__lang-list-btn {
    font-size: 24px;
    border: 0;
    background-color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.menu__lang-list-btn:hover,
.menu__lang-list-btn--active {
    filter: opacity(0.5);
}

/********** > 768px ********/

@media (min-width: 768px) {

    .header {
        padding: 0 24px;
    }

    .header__interaction-list {
        display: flex;
    }

    .header__logo {
        margin-left: 43px;
    }

    .header__logo::before {
        margin: 10px 0 10px -20px;
    }

    .header__order-list {
        margin-left: 42px;
    }

    .order-list__item:first-child::before {
        content: "";
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        position: absolute;
        margin: 2px 0 2px -20px;
    }

    .main {
        padding: 0 24px;
    }

    .nav:before {
        right: 24px;
    }

    .article {
        flex-wrap: wrap;
        align-content: space-between;
        padding-top: 32px;
        height: 280px;
    }

    .title__text::before {
        margin-left: -40px;
    }

    .article__text {
        height: 130px;
        width: calc(100% - 400px);
    }

    .article__picture {
        margin-top: 0;
        width: 360px;
        height: 208px;
    }

    .article__image {
        border-radius: 4px;
    }
}

/********** > 1120px ********/

@media (min-width: 1120px) {

    .header {
        display: contents;
    }

    .header > * {
        display: none;
    }

    .header__order-list {
        display: flex;
        position: absolute;
        top: 20px;
        right: 45px;
        margin-left: 0;
    }

    .order-list__item:first-child::before {
        display: none;
    }

    .order-list__item + .order-list__item {
        margin-left: 24px;
    }

    .order-list__link {
        text-decoration: none;
    }

    .button__text {
        display: block;
        font-size: initial;
        color: #1B1C21;
        white-space: nowrap;
        margin-right: 8px;
    }

    .button__text:active {
        color: red;
    }

    .main {
        padding: 0 32px;
    }

    .title__text::before {
        margin-left: -48px;
    }

    .main__order-list {
        display: flex;
    }

    .nav:before {
        display: none;
    }

    .nav__list {
        overflow-x: hidden;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: flex-start;
    }

    .article {
        padding-top: 16px;
    }

    .article__text {
        width: calc(100% - 600px);
    }

    .article__picture {
        width: 532px;
        height: 307px;
    }
}












