* {
    box-sizing: border-box;
}

/********** visually-hidden ********/

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/********** body ********/

.body {
    font-family: "TT Lakes", serif;
    width: 320px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    background-color: #F8F8F8;
}

/********** header ********/

.header {
    height: 88px;
    background-color: white;
    border-bottom: 1px solid #D9FFF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.header__menu {

}

.menu {
    background-image: url("images/burger.svg");
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.header__logo {
    flex-grow: 1;
    margin-left: 20px;
}

.logo {
    background-image: url("images/Group.svg");
    background-repeat: no-repeat;
    width: 97px;
    height: 51px;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.header__logo::before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    position: absolute;
    margin: 10px 0 10px 110px;
}

.header__interactions {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.header__call {

}

.call {
    background-image: url("images/call.svg");
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.header__chat {
    margin-left: 16px;
}

.chat {
    background-image: url("images/chat.svg");
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.header__profile {
    margin-left: 16px;
}

.profile {
    display: block;
    background-image: url("images/profile.svg");
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.header__order {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.header__repair {

}

.repair {
    display: block;
    background-image: url("images/repair.svg");
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.header__check-status {
    margin-left: 16px;
}

.check-status {
    display: block;
    background-image: url("images/checkstatus.svg");
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.header__call,
.header__chat,
.header__profile {
    display: none;
}

/********** main ********/

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 16px;
}

.main__header {
    display: flex;
    justify-content: space-between;
}

.main__title::before {
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    margin-left: -16px;
    border-radius: 0 4px 4px 0;
    position: absolute;
}

.main__title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    text-align: left;
}

.main__order {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.main__item:last-child {
    margin-left: 32px;
}

.main__repair, .main__check-status {
    width: 168px;
    height: 40px;
    border-radius: initial;
    background-repeat: no-repeat;
    background-position: right;
    background-color: inherit;
    vertical-align: center;
    color: #1B1C21;
    text-decoration: none;
    padding-top: 9px;
}

.main__order {
    display: none;
}

/********** nav ********/

.nav {
    overflow-x: scroll;
}

.nav__slider {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.nav__item {
    height: 40px;
    width: auto;
    white-space: nowrap;
    background-color: inherit;
    padding: 8px 16px;
}

.nav__item:first-child {
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 4px;
}

.nav__item + .nav__item {
    margin-left: 8px;
}

.nav__link {
    font-family: "TT Lakes", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #7E7E82;
    text-decoration: none;
}


/********** article ********/

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: +0.2px;
    text-align: left;
}

.article__block1 {
    margin-top: 24px;
}

.article__block2 {
    display: none;
}

.read-more {
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.read-more::before {
    content: "";
    display: block;
    background-image: url(images/icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 24px;
    height: 24px;
}

.read-more__text {
    font-family: TT Lakes, serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #1B1C21;
    margin-left: 24px;
}

.article__image {
    margin-top: 16px;
    margin-left: -16px;
}

/********** > 768px ********/

@media (min-width: 768px) {

    .body {
        width: 768px;
    }

    .header {
        padding: 0 24px;
    }

    .header__call,
    .header__chat,
    .header__profile {
        display: block;
    }

    .header__logo {
        margin-left: 43px;
    }

    .header__logo::before {
        margin: 10px 0 10px -20px;
    }

    .header__repair::before {
        content: "";
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        position: absolute;
        margin: 2px 0 2px -20px;
    }

    .header__repair {
        margin-left: 42px;
    }

    .main {
        padding: 0 24px;
    }

    .article {
        flex-wrap: wrap;
        align-content: space-between;
        padding-top: 32px;
        height: 280px;
    }

    .main__title::before {
        margin-left: -24px;
    }

    .article__text {
        width: 312px;
    }

    .article__block1 {
        margin-top: 0;
    }

    .article__block2 {
        display: block;
    }

    .article__span {
        display: none;
    }

    .article__image{
        margin-top: 0;
        width: 360px;
        height: 208px;
        border-radius: 4px;
    }
}

/********** > 1120px ********/

@media (min-width: 1120px) {
    .body {
        width: 1120px;
    }

    .header {
        display: none;
    }

    .main {
        padding: 0 32px;
    }

    .main__title::before {
        margin-left: -32px;
    }

    .main__order {
        display: flex;
    }

    .nav {
        overflow-x: hidden;
    }

    .nav__slider {
        flex-wrap: wrap;
        align-content: space-between;
    }

    .article {
        padding-top: 16px;
    }

    .article__text {
        width: 490px;
    }

    .article__span {
        display: initial;
    }

    .article__image {
        width: 532px;
        height: 307px;
    }
}












